<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sporty Shoes Management</title>
</head>
<body>
<h1>Sporty Shoes Management</h1>
<div>
    <span th:text="${message}"></span>
    <form action="#" method="post" th:action="@{/admin/createUser}" th:object="${user}">
        <label>Name
            <input name="name" th:field="*{firstName}" type="text">
        </label><br>
        <label>Password
            <input name="password" th:field="*{password}" type="password">
        </label><br>
        <label>Email
            <input name="email" th:field="*{login}" type="email">
        </label><br>
        <label>Type
            <input name="type" th:field="*{type}" type="text">
        </label><br>
        <input name="submitButton" value="Create new user" type="submit">
        <input name="reset" value="Reset" type="reset">
    </form>
    <form action="#" method="post" th:action="@{/admin/editUser}" th:object="${user}">
        <label>User ID
            <input name="userId" th:field="*{id}" type="number">
        </label><br>
        <label>Name
            <input name="name" th:field="*{firstName}" type="text">
        </label><br>
        <label>Password
            <input name="password" th:field="*{password}" type="password">
        </label><br>
        <label>Email
            <input name="email" th:field="*{login}" type="email">
        </label><br>
        <label>Type
            <input name="type" th:field="*{type}" type="text">
        </label><br>
        <input name="submitButton" value="Modify user" type="submit">
        <input name="reset" value="Reset" type="reset">
    </form>
    <form action="#" method="post" th:action="@{/admin/deleteUser}" th:object="${user}">
        <label>User ID
            <input name="userId" th:field="*{id}" type="number">
        </label><br>
        <input name="submitButton" value="Delete user" type="submit">
        <input name="reset" value="Reset" type="reset">
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Type</th>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.type}"></td>
        </tr>
    </table>
</div>
<hr/>
<div>
    <form action="#" method="post" th:action="@{/admin/createProduct}" th:object="${product}">
        <label>Name
            <input name="name" th:field="*{name}" type="text">
        </label><br>
        <label>Price
            <input name="price" th:field="*{price}" type="number">
        </label><br>
        <label>Stock
            <input name="stock" th:field="*{stock}" type="text">
        </label><br>
        <label>Size
            <input name="size" th:field="*{size}" type="number">
        </label><br>
        <label>Material
            <input name="material" th:field="*{material}" type="text">
        </label><br>
        <label>Description
            <input name="description" th:field="*{description}" type="text">
        </label><br>
        <input name="submitButton" value="Create new product" type="submit">
        <input name="reset" value="Reset" type="reset">
    </form>
    <form action="#" method="post" th:action="@{/admin/editProduct}" th:object="${product}">
        <label>Product ID
            <input name="productId" th:field="*{id}" type="number">
        </label><br>
        <label>Name
            <input name="name" th:field="*{name}" type="text">
        </label><br>
        <label>Price
            <input name="price" th:field="*{price}" type="number">
        </label><br>
        <label>Stock
            <input name="stock" th:field="*{stock}" type="text">
        </label><br>
        <label>Size
            <input name="size" th:field="*{size}" type="number">
        </label><br>
        <label>Material
            <input name="material" th:field="*{material}" type="text">
        </label><br>
        <label>Description
            <input name="description" th:field="*{description}" type="text">
        </label><br>
        <input name="submitButton" value="Modify product" type="submit">
        <input name="reset" value="Reset" type="reset">
    </form>
    <form action="#" method="post" th:action="@{/admin/deleteProduct}" th:object="${user}">
        <label>Product ID
            <input name="productId" th:field="*{id}" type="number">
        </label><br>
        <input name="submitButton" value="Delete product" type="submit">
        <input name="reset" value="Reset" type="reset">
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Size</th>
            <th>Material</th>
            <th>Description</th>
        </tr>
        <tr th:each="shoe:${products}">
            <td th:text="${shoe.id}"></td>
            <td th:text="${shoe.name}"></td>
            <td th:text="${shoe.price}"></td>
            <td th:text="${shoe.stock}"></td>
            <td th:text="${shoe.size}"></td>
            <td th:text="${shoe.material}"></td>
            <td th:text="${shoe.description}"></td>
        </tr>
    </table>
</div>
</body>
</html>