<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sporty Shoes</title>
</head>
<body>
<h1>Welcome to Sporty Shoes!</h1>
<div>
    <form action="#" method="post" th:action="@{/login}" th:object="${login}">
        <label> Username
            <input name="username" th:field="*{username}" type="email">
        </label><br>
        <label>Password
            <input name="password" th:field="*{password}" type="password">
        </label><br>
        <input name="submitButton" value="Login" type="submit">
        <input name="reset" value="Reset" type="reset">
    </form>
</div>
</body>
</html>