<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h1>Create a new user!</h1>
<div>
    <form action="#" method="post" th:action="@{/login/newUser}" th:object="${person}">
        <label>First Name
            <input name="name" th:field="*{firstName}" type="text">
        </label><br>
        <label>Last Name
            <input name="name" th:field="*{lastName}" type="text">
        </label><br>
        <label>Email
            <input name="email" th:field="*{login.username}" type="email">
        </label><br>
        <label>Password
            <input name="password" th:field="*{login.password}" type="password">
        </label><br>
        <input name="createNewUser" value="Register" type="submit">
    </form>
</div>
</body>
</html>